html {
  overflow-x: hidden;
}

.header-navbar {
    border-bottom: 1px solid #e0e0e0;
}

.header-navbar {
    background: #fff none repeat scroll 0 0;
    width: 100%;
	line-height: 70px;
}

.header-navbar .logo {
    display: block;
    float: left;
    font-size: 0;
}

.header-navbar .nav ul {
    margin: 0;
}

.header-navbar .nav a:not(.btn) {
    color: #666;
    outline: medium none;
    text-decoration: none;
}

.nav-link {
    cursor: pointer;
}

.font-gotham-medium, .btn {
    font-weight: 600  !important;
}
.font-gotham-bold, .logo, .font-gotham-medium, .btn {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
}

.header-link-signup, .header-link-login {
    display: block;
    line-height: 40px;
    position: relative;
}

.header-navbar .nav .user-links li {
    margin: 0 15px;
    padding: 0;
}

.header-navbar .nav {
    font-size: 12px;
}



.profile-information-container h3, .profile-information-container p,  .profile-information-container-about p{
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;    
}
.profile-information-container h3 {
    font-weight: bold;
}
a:hover,
a:focus {
    color: #b0e44f !important;
    text-decoration: underline
}

.btn-default:hover,
.btn-default:focus {
    color: #008329 !important;
	border-color: #008329!important;
	background-color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.profile_image {
	width: 10%;
	display: inline-block;
	margin-top: -1px;
	float: left;
	border: 1px solid red;
	cursor: pointer;
}

#search_nav {
	text-align: right;
}

@media(max-width:992px) {
    .profile_image {
		width: 20%;
	}
	
	#search_nav {
		text-align: center;
	}
}

@media(max-width:600px) {
	.logo {
		width: 100px;
		height: 35px;
	}
}














.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{

	overflow-y:auto;
	overflow-x: hidden;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;

  overflow-x:hidden;
  overflow-y:auto;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    max-width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

#search {
	color: #37a000;
}







.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-md-3 {
    width: 100%;
}

html,body {height:100%;}












.nav-link {
	cursor: pointer;
}

.profile_image {
	width: 10%;
	display: inline-block;
	float: left;
	border: 1px solid red;
	cursor: pointer;
}

@media(max-width:992px) {
    .profile_image {
		width: 33.333%;
	}
	
	#search_nav {
		text-align: center;
	}
}

.profile_image:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

#profile_images_container {
    width: 100%;
    text-align: center;
}

h2 {
	margin: 0px;
}

#profile_about::-webkit-input-placeholder, #chat_input::-webkit-input-placeholder, #chat_input {
    text-align: center;
}
#profile_about:-moz-placeholder, #chat_input:-moz-placeholder, #chat_input {
    text-align: center;
}
#profile_about::-moz-placeholder, #chat_input::-moz-placeholder, #chat_input {
    text-align: center;
}
#profile_about:-ms-input-placeholder, #chat_input:-ms-input-placeholder, #chat_input {
    text-align: center;
}





/* profile modal */
.profile-input-container {
	text-align: center;
	padding-top: 5px;
}
.profile-input-element {
	width: 100%;
	text-align: center;
}
input[class=profile-input-element] {
	box-sizing:border-box;
}
textarea[class=profile-input-element] {
	box-sizing:border-box;
	resize: none;
}
#destination_profile_image {
	width:250px !important;
	height:250px !important;
	cursor: pointer;
}
#source_profile_image {
	width:250px !important;
	height:250px !important;
	display: none;
}
#profile_image {
	display: none;
}





#message-input {
	width: 100%;
	resize: none;
	height: 100px; 
	overflow-y : auto;
	box-sizing:border-box;
	color: black;
}







.profile-information-container-about {
	word-wrap: break-word;
	height: 100px; 
	overflow-y : auto;
}

.profile-information-container {
	text-align: center;
	word-wrap: break-word;
}
.profile-information-container h3, .profile-information-container p,  .profile-information-container-about p{
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;    
}
.profile-information-container h3 {
    font-weight: bold;
}

input[type="text"] {
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="text"]:focus, input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

#chat_input {
	padding: 0px;
}

button {
	color: #000;
}












/* The Modal (background) */
.modal-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media (max-width: 800px) {
	.header-navbar {
		line-height: 40px;
	}
}

@media (min-width: 500px) {
	.modal-content {
		width: 500px;
	}
}

@media (max-width: 500px) {
	.modal-content {
		height: 100%;
	}
	
	.modal-popup {
		padding-top: 0%;
		height: 100%;
		overflow: hidden;
	}
	
	.modal-footer {
		bottom: 0;
		padding-top: 2px;
		position: absolute;
		width: 100%;
	}
}




.modal-content-top-animation {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content-center-animation {
    -webkit-animation-name: animatecenter;
    -webkit-animation-duration: 0.4s;
    animation-name: animatecenter;
    animation-duration: 0.4s
}

.profile-modal {
    width: 100%;
}

.send-message-modal {
    width: 500px;
}

/* top Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* center Animation */
@-webkit-keyframes animatecenter {
    from {opacity:0} 
    to {opacity:1}
}
@keyframes animatecenter {
    from {opacity:0}
    to {opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 38px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px;
    background-color: #5cb85c;
    color: white;
}